{
accent1: #E5C1BD;
background-normal: #D2D0BA;
background-darker: #b8deb5 ;
accent2darker: #4B5E47;
accent2: #7B9E87;
accent2light: #8BAE97;
accent2lighter: #9BBEA7;
accent3: #5E747F;
lightgray2: #EEEEEE;
}
.menu-button:hover, .menu-button:showing, .menu-button:focused,.menu-item:hover, .menu-item:showing, .menu-item:focused{
    -fx-background-color: accent2;
}

#aboutPane{
    -fx-background-color: lightgray2;
}

#textBefore{
 -fx-font-smoothing-type: lcd;
  -fx-fill: accent3;
  -fx-font-family: "Arial Black";
   -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

#textAfter{
 -fx-font-smoothing-type: lcd;
 -fx-fill: accent3;
 -fx-font-family: "Arial Black";
  -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

#imageName{
 -fx-font-smoothing-type: lcd;
 -fx-fill: accent3;
 -fx-font-family: "Arial Black";
  -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}


#HboxBottom{
   -fx-background-color: background-normal;
}

#HboxPag{
   -fx-background-color: background-normal;
}

#subBorderPane{
   -fx-background-color: background-normal;
}

#bP{
   -fx-background-color: background-darker;
}
#dragAndDrop {
    -fx-border-insets: 4;
    -fx-border-width: 3;
    -fx-border-style: dashed;
    -fx-border-color: black;
}

.split-pane-divider{
   -fx-background-color: accent3;
}

.root{
    -fx-background-color: background-normal;
}

.button{
    -fx-background-color: accent2;
        -fx-background-insets: 0,1,2;
        -fx-background-radius: 3,2,1;
        -fx-padding: 3 30 3 30;
        -fx-text-fill: black;
        -fx-font-size: 14px;
}
.button:hover{
    -fx-background-color: accent2light;
    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
    -fx-padding: 3 30 3 30;
    -fx-text-fill: black;
    -fx-font-size: 14px;
}


.pagination > .pagination-control > .control-box > .number-button {
    -fx-min-width: 40;
    -fx-min-height: 30;
}

.pagination > .pagination-control > .control-box > .left-arrow-button {
    -fx-min-width: 40;
    -fx-min-height: 30;
}

.pagination > .pagination-control > .control-box > .right-arrow-button {
    -fx-min-width: 40;
    -fx-min-height: 30;
}

.pagination .pagination-control .toggle-button:selected {
    -fx-background-color: accent2;
}

.pagination .pagination-control .toggle-button:hover, .pagination .pagination-control .button:hover  {
    -fx-background-color: accent2lighter;
}

.list-cell:focused, .label, .list-cell:selected{
    -fx-text-fill: black;
}
.list-cell:selected{
    -fx-background-color: accent2darker, accent2 ;
    -fx-background-insets: 0 0 0 0, 1 1 1 1;
}

.list-view:hover, .list-view:focused, .list-view{
    -fx-background-color: white
}

#settingsTopBox{
    -fx-border-color: black;
    -fx-border-width: 0 0 2 0;
    -fx-background-color: lightgray2
}

#settingsBottomBox{
 -fx-border-color: black;
    -fx-border-width: 2 0 0 0;
    -fx-background-color: lightgray2
}